<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{f0c2a840-17f5-4601-af41-493ada7d3fd7}</AddInID><Description>fue creado como prueba</Description><Version>0.2</Version><Image>Images\LogoTrans.png</Image><Author>keyla olivas</Author><Company>FACITE</Company><Date>10/12/2023</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="prueba_addin.py" namespace="prueba_addin"><ArcMap>
    <Commands>
        <Button caption="saludar" category="Python Addin" class="saludarClass" id="saludar_addin.button" image="Images\Diagrama_FP_Katya_Olivas.png" message="mensaje de prueba" tip="boton de prueba saludar"><Help heading="" /></Button>
        <Tool caption="herramienta " category="Python Addin" class="HerramientaClass3" id="herramienta_addin.tool" image="Images\lena.png" message="Herramienta de prueba" tip="Herramienta de prueba"><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="pruebaTOOLBAR_addin.toolbar" showInitially="true"><Items><Button refID="saludar_addin.button" /><Tool refID="herramienta_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="FACITEADDIS" category="Python Addin" id="prueba_addin.menu" isRootMenu="true" isShortcutMenu="true" separator="true"><Items /></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>